<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>测试页面</title>
</head>
<body>
    <a th:href="@{/test}">跳转到success页面1</a>
    <br/>
    <a th:href="@{/testRequestMapping}">跳转到success页面2->get</a>
    <br/>

    <form th:action="@{/testRequestMapping}" method="post">
      <input type="submit" value="跳转到success页面--》post请求">
    </form>
    <br/>
    <a th:href="@{/testParamsAndHeader(user='yangjc')}">testParamsAndHeader</a><br/>
    <a th:href="@{/test/ab}">ANT1</a><br>
    <a th:href="@{/test/a223b}">ANT2</a><br>
    <a th:href="@{/test/a1b}">ANT3</a><br>
    <a th:href="@{/test/a/22/33/b}">ANT4</a><br>
    <a th:href="@{/test/aaa/aa/a/boy}">ANT5</a><br>
</body>
</html>